@model PokemonSRSite.PlayersPokemon

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h3>@Html.LabelFor(model => model.Username)</h3>
        <hr />

        <table>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PokemonName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Level)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Exp)
                </th>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.PokemonName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Level)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Exp)
                </td>
            </tr>

        </table>
</div>
<p>
    <a href='@Url.Action("Editer", "PlayerPokemon", new { id = Model.Id })' style="text-decoration:none">
        <img src='@Url.Content("~/Images/UI/Edit.png")'
             alt="Editer" class="CMD_Icon_3"
             data-toggle="tooltip"
             title="Éditer le Pokemon du joueur [@Model.Username]" />
    </a> &nbsp;
 |
    @Html.ActionLink("Retour", "Lister")
</p>
