@model PokemonSRSite.PlayersPokemon

@{
    ViewBag.Title = "Editer";
}

<h2>Editer</h2>

@using (Html.BeginForm("Editer",
                        "PlayersPokemon",
                        FormMethod.Post,
                        new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>@Html.DisplayFor(model => model.Username)</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.Username, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="Users" id="users">
                    @{
                        foreach (string p in PlayersPokemon.AllUsers)
                        {
                            if (p == Model.Username)
                            {
                            <option value="@p" selected>@p</option>

                            }
                            else
                            {
                                <option value="@p">@p</option>
                            }
                        }
                    }
                </select>
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.PokemonName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="Pokemons" id="pokemons">
                    @{
                        int index = 0;
                        foreach (string p in PlayersPokemon.AllPokemons)
                        {
                            if (PlayersPokemon.AllIdPokemons.ElementAt(index) == Model.PokemonID.ToString())
                            {
                                <option value="@PlayersPokemon.AllIdPokemons.ElementAt(index)" selected>@p</option>
                            }
                            else
                            {
                                <option value="@PlayersPokemon.AllIdPokemons.ElementAt(index)">@p</option>
                            }
                            index++;
                        }
                    }
                </select>
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.Level, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Level)
                @Html.ValidationMessageFor(model => model.Level)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Exp, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Exp)
                @Html.ValidationMessageFor(model => model.Exp)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Modifier" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Retour", "Lister")
</div>
